{# @Cerad/AppBundle/Resources/viewsAdmin/Admin/AdminShowIndex.html.twig  #}
{% extends '@CeradTourn/Layout.html.twig' %}
{% set _project = 'natgames' %}

{% block content %}
<h3>Administrative Functions</h3>
<div class="admin_container">

{% if is_granted('ROLE_SCORE_ENTRY') %}
<div class="admin">
  <ul><h2>Match Reporting</h2>
    <li><a href="{{ path('cerad_game__project__game_report__update',
      { '_project': _project,'_game':'11001' ,
            'back': app.request.requestUri ~ '#'
      })
      }}">Enter Match Results</a></li>
     <li><a href="{{ path('cerad_game__project__results_poolplay__show',
        { '_project': _project, '_format': 'xls', 'programs': 'core',})
        }}">Export Core Pool Play Standings (Excel)</a></li>
      <li><a href="{{ path('cerad_game__project__results_playoffs__show',
        { '_project': _project, '_format':'xls', 'programs':'core' })
        }}">Export Core Medal Round Results (Excel)</a></li>
      <li><a href="{{ path('cerad_game__project__results_sportsmanship__show',
        { '_project': _project, '_format':'xls', 'programs':'core' })
        }}">Export Core Sportsmanship Standings (Excel)</a></li>
      <li><a href="{{ path('cerad_game__project__results_poolplay__show',
        { '_project': _project, '_format':'xls', 'programs':'extra' })
        }}">Export Extra Pool Play Results (Excel)</a></li>
      <li><a href="{{ path('cerad_game__project__results_playoffs__show',
        { '_project': _project, '_format':'xls', 'programs':'extra' })
        }}">Export Extra Medal Round Results (Excel)</a></li>
      <li><a href="{{ path('cerad_game__project__results_sportsmanship__show',
        { '_project': _project, '_format':'xls', 'programs':'extra'})
        }}">Export Extra Sportsmanship Standings (Excel)</a></li>
  </ul>
</div>
{% endif %}

<div class="admin">
  <ul><h2>Schedule Management</h2>
    <li><a href="{{ path('cerad_game__project__schedule_game__show', { '_project': _project }) }}">View Game Schedule</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_team__show', { '_project': _project }) }}">View Team Schedule</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_game__show',
        { '_project': _project,'_format' : 'xls','program' : 'Core', 'all': 1 })
        }}">Export Core Game Schedule (Excel)</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_game__show',
        { '_project': _project,'_format' : 'xls','program' : 'Extra','all': 1 })
        }}">Export Extra Game Schedule (Excel)
    </a></li>
{% if is_granted('ROLE_SUPER_ADMIN')  %}
    <li><a href="{{ path('cerad_game__project__schedule_game__import',
        { '_project': _project }) }}">
        Import Game Schedule (Excel)
    </a></li>
{% endif %}
  </ul>
</div>

<div class="admin">
  <ul><h2>Team Management</h2>
    <li>{#<a href="{{ path('cerad_game__project__teams__show',   { '_project': _project }) }}">#}View Teams</a></li>
    <li><a href="{{ path('cerad_game__project__teams__export', { '_project': _project }) }}">Export Teams (Excel)</a></li>
{% if is_granted('ROLE_SUPER_ADMIN')  %}
    <li><a href="{{ path('cerad_game__project__teams__import',
        { '_project': _project }) }}">
        Import/Update/Link Teams (Excel)
    </a></li>
{% endif %}
  </ul>
</div>

</div>

<div class="admin_container">

{% if is_granted('ROLE_ASSIGNOR') %}
<div class="admin">
  <ul><h2>Referee Assignments</h2>
    <li><a href="{{ path('cerad_game__project__schedule_assignor__show', { '_project': _project }) }}">View Referee Assignments</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_assignor__show',
        { '_project': _project,
          '_format' : 'xls',
          'program' : 'Core', 'all': 1 })
        }}">Export Core Referee Assignments (Excel)
    </a></li>
    <li><a href="{{ path('cerad_game__project__schedule_assignor__show',
        { '_project': _project,
          '_format' : 'xls',
          'program' : 'Extra','all': 1 })
        }}">Export Extra Referee Assignments (Excel)
    </a></li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{ path('cerad_game__project__game_officials__assign_by_import',
        { '_project' : _project }) }}">
        Import Referee Assignments (Excel)
    </a></li>
{% endif %}
{#    <li><a href="{{ path('cerad_tourn_unregistered_officials_list') }}">View Unregistered Referee List</a></li> #}
  </ul>
</div>
{% endif %}

<div class="admin">
  <ul><h2>Account Management</h2>
    <li><a href="{{ path('cerad_tourn_admin_persons_list') }}">View Registered People</a></li>
    <li><a href="{{ path('cerad_tourn_admin_persons_list', { '_format' : 'xls' }) }}">Export Registered People (Excel)</a></li>
{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('cerad_tourn_admin_unverified_persons_list') }}">View Unverified Registered People</a></li>
    <li><a href="{{ path('cerad_tourn_admin_unverified_persons_list', { '_format' : 'xls' }) }}">Export Unverified Registered People (Excel)</a></li>
{% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{ path('cerad_tourn_admin_person_feds_sync') }}">Sync eAYSO Information</a></li>
    <li><a href="#">Import AYSO Information</a></li>
{% endif %}
    <li><a href="{{ path('cerad_person__project__persons__show',
        { '_project' : _project }) }}">
        View Staff Roles
    </a></li>
{% endif %}
  </ul>
</div>

</div>  {# end div.container #}

{% include '@CeradTournAdmin/Admin/AdminShowHelp.html.twig' %}
{% endblock %} {# end content block #}
