{% if searchForm is defined  %}
{% set form = searchForm     %}
{{ form_start(form) }}
<fieldset>
<table id="schedule-select">
  <tr>

    {% if form.dates is defined %}
      {% set items = form.dates %}
      <td>{% include '@CeradGame/Project/Schedule/Twig/ScheduleSearchCheckboxes.html.twig' %}</td>
    {% endif %}
      
    {% if form.programs is defined %}
      {% set items = form.programs %}
      <td>{% include '@CeradGame/Project/Schedule/Twig/ScheduleSearchCheckboxes.html.twig' %}</td>
    {% endif %}

    {% if form.genders is defined %}
      {% set items = form.genders %}
      <td>{% include '@CeradGame/Project/Schedule/Twig/ScheduleSearchCheckboxes.html.twig' %}</td>
    {% endif %}

    {% if form.ages is defined %}
      {% set items = form.ages %}
      <td>{% include '@CeradGame/Project/Schedule/Twig/ScheduleSearchCheckboxes.html.twig' %}</td>
    {% endif %}
      
  </tr>
{#
      <tr>

      {% if form.fields is defined %}
      {% set items = form.fields %}
      <td colspan="4">{% include '@CeradTourn/Schedule/ScheduleSearchCheckboxes.html.twig' %}</td>
      {% endif %}
      </tr>
#}
</table>
        
<div class="layout-block">
  {% set excelUrl = path('cerad_game__project__schedule_game__show', { '_project' : _project, '_format': 'xls'}) %}
  {% set   csvUrl = path('cerad_game__project__schedule_game__show', { '_project' : _project, '_format': 'csv'}) %}
  <div class="controls">{{ form_widget(form.search) }}</div>
  <div style="padding: 10px 0 0 25%; float: left;"><a href="{{ excelUrl }}">Export to Excel</a></div>
  <div style="padding: 10px 0 0 4em; float: left;"><a href="{{   csvUrl }}">Export to Text</a></div>
</div>

</fieldset>
<div style="display:none">{{ form_rest(form) }}</div>
{{ form_end (form) }}
{% endif %}

