{% if is_granted('ROLE_USER') %}
<div id="layout-block">
    <div class="schedule-games-list">
    <table id="schedule" class="schedule" border="1">
    <thead>
        <tr><th colspan="20">My Schedule - Count: {{ games | length }}</th></tr>
        <tr>
            <th class="schedule-game" >Game</th>
            <th class="schedule-dow"  >Day</th>
            <th class="schedule-time" >Time</th>
            <th class="schedule-field">Field</th>
            <th class="schedule-group">Group</th>
            <th class="schedule-slot" >Slot</th>
            <th class="schedule-teams">Home / Away</th>
            <th class="schedule-referees">Referees</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        <tr id="ref-sched-{{game.num}}" class="game-status-{{game.status}}">
            <td class="schedule-game">{{ game.num }}</td>
            <td class="schedule-dow" >{{ game.dtBeg.format('D'    ) }}</td>
            <td class="schedule-time">{{ game.dtBeg.format('g:i A') }}</td>    
            <td><a href="{{ cerad_tourn_venue_maplink(game.venueName) }}" target="_blank">{{ game.fieldName }}</a></td>
            <td style="padding: 0 20px">{{ cerad_game_group(game) }}</td>
            <td><table>
                {% for gameTeam in game.teams %}
                    <tr><td>{{ gameTeam.groupSlot }}</td></tr>
                {% endfor %}
            </table></td>
      <td class="schedule-teams">
        {% include '@CeradGame/Project/Schedule/Referee/Show/ScheduleRefereeShowTwigTeams.html.twig' %}
      </td>
      <td class="schedule-referees">
        {% include '@CeradGame/Project/Schedule/Referee/Show/ScheduleRefereeShowTwigOfficials.html.twig' %}
      </td>
       </tr>
       {% endfor %}{# games #}
    </tbody>
    </table>
</div>
</div>
{% endif %}
