<table class="standings" border = "1">
<tr class="tbl-title"><th colspan="16">{{ title }} Sportsmanship Standings{# : {{ cerad_pool_label(levelKey) }}#}</th></tr>
<tr class="tbl-hdr">
  <th>Group</th>
  <th>&nbsp;</th>
  <th>Team</th>
  <th>&nbsp;</th>
  <th align="center">Sportsmanship</th>
  <th align="center">Avg SP</th>
  <th align="center">Played Games</th>
</tr>
{% for team in teams %}
<tr>
  <td>{{ team.game.levelKey }}</td>
  <td>&nbsp;</td>
  <td class="text-left">{{ team.team.teamName      }}</td>
  <td>&nbsp;</td>
  <td align="center">{{ team.spTotal       }}</td>
  <td align="center">{{ team.spAverage     }}</td>
  <td align="center">{{ team.gameCntPlayed }}</td>
</tr>
{% endfor %}
</table>
