<div id="layout-block">
{% if searchForm is defined  %}
{% set form = searchForm     %}
{{ form_start(form) }}
<fieldset>
<table>
<tr><th>Core Teams</th><th>Extra Teams</th></tr>
<tr>
    <td>{{ form_widget(form.CoreTeams)  }}</td>
    <td>{{ form_widget(form.ExtraTeams) }}</td>
</tr></table>

<div class="layout-block">
  {% set excelUrl = path('cerad_game__project__schedule_team__show', { '_project' : _project, '_format': 'xls'}) %}
  {% set   csvUrl = path('cerad_game__project__schedule_team__show', { '_project' : _project, '_format': 'csv'}) %}
  <div class="controls">{{ form_widget(form.search) }}</div>
  <div style="padding: 10px 0 0 25%; float: left;"><a href="{{ excelUrl }}">Export to Excel</a></div>
  <div style="padding: 10px 0 0 4em; float: left;"><a href="{{   csvUrl }}">Export to Text</a></div>

</div>
</fieldset>

<div id="layout-block">
<div style="display:none">{{ form_rest(form) }}</div>
{{ form_end (form) }}
</div>
{% endif %}
</div>
