{% extends '@CeradPerson/Layout.html.twig' %}

{% block content %}

{{ form_start(form) }}
<table class="current-teams">
<tr><th colspan="2">My Current Teams</th></tr>
<tr>{#<th>Relation</th>#}<th>Name</th><th>Remove</th></tr>
{% for personTeamForm in form.personTeams %}
{% set personTeam = personTeamForm.vars.value['personTeam'] %}
<tr>
{#    <td>{{ personTeam.role     }}</td>#}
    <td>{{ personTeam.levelKey | slice(10) }} {{ personTeam.teamDesc }}</td>
    <td style="text-align: center">{{ form_widget(personTeamForm.remove) }}</td>
</tr>
{% endfor %}
<tr>
    <td style="text-align: right; padding: 10px; border: none;" colspan="2">{{ form_widget(form.remove) }}</td>
</tr>
</table>
<br />
<table>
<tr><th colspan="2">Add Additional Teams</th></tr>
<tr><th>Core Teams</th><th>Extra Teams</th></tr>
<tr>
    <td>{{ form_widget(form.CoreTeams)  }}</td>
    <td>{{ form_widget(form.ExtraTeams) }}</td>
</tr>
<tr>
    <td style="text-align: right; padding: 10px" colspan="2">
{#        {{ form_widget(form.role) }}  #}
        <a style="padding-right:20px" href="{{ _back }}">Return to My Info</a>
        {{ form_widget(form.add)  }}
    </td>
</tr>
</table>
<div style="display:none">{{ form_rest(form) }}</div>
{{ form_end (form) }}
<br />
{% include '@CeradPerson/Project/PersonTeams/Show/PersonTeamsShowTwigHelp.html.twig' %}
{% endblock %}{# content #}
