{# @CeradGame/GameOfficial/UserAssignSlot/UserAssignSlotIndex.html.twig #}
{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
{{ form_start(form) }}
<table style="max-width: 100px;">
    <tr>
        <td>{{ form_widget(form.gameOfficial.role)           }}</td>
        <td>{{ form_widget(form.gameOfficial.personNameFull) }}</td>
        <td>{{ form_widget(form.gameOfficial.assignState)    }}</td>
    </tr><tr>
        <td>&nbsp;</td>
        <td><a href="{{ redirectUrl }}">Back to Schedule</a></td>
        <td>{{ form_widget(form.assign) }}</td>
    </tr>
</table>
{{ form_rest (form) }}
{{ form_end  (form) }}
{% endblock %}