{# @CeradTourn/AccountPassword/ResetRequest/AccountPasswordResetRequestForm.html.twig   #}
<form
    id     = "cerad_tourn_account_password_reset_request"
    class  = "cerad_tourn_account_password_reset_request cerad_common_form1 app_form"
    action = "{{ path('cerad_tourn_account_password_reset_request') }}"
    method = "post" {{ form_enctype(form) }}
    novalidate
>
    <fieldset><legend><span>Reset Zayso Password</span></legend>
        {{ form_row(form.username)    }}
    </fieldset>
    <fieldset>
        <div class="controls">
            <input type="submit" name="accountPasswordReset" value="Reset Zayso Password" />
        </div>
        <div class="controls">
            <span><a href="{{ path('cerad_tourn_welcome') }}">Return to Login</a></span>
        </div>
     </fieldset>
{{ form_rest(form) }}
</form>

