<div class="schedule-games-list">
    <table id="schedule" class="schedule-games-list" border="1">
    <thead>
        <tr><th colspan="20">Referee Schedule - Count: {{ games | length }}</th></tr>
        <tr>
            <th class="schedule-game"  >Game</th>
            <th class="schedule-dow"   >DOW</th>
            <th class="schedule-time"  >Time</th>
            <th class="schedule-field" >Field</th>
            <th class="schedule-level" >Level</th>
            <th class="schedule-group" >Type</th>
            <th class="schedule-group" >Group</th>
            <th class="schedule-teams" >Home / Away Group</th>
            <th class="schedule-teams" >Home / Away Names</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        {% set level = game.levelKey %}
        <tr id="schedule-team-{{game.num}}" class="game-status-{{game.status}}">
            <td class="schedule-game">{{ game.num }}</td>
            <td class="schedule-dow" >{{ game.dtBeg.format('D'    ) }}</td>
            <td class="schedule-time">{{ game.dtBeg.format('g:i A') }}</td>    
            <td>{{ game.fieldName }}</td>
            <td>{{ game.levelKey  }}</td>
            <td>{{ game.groupType }}</td>
            <td>{{ game.groupKey  }}</td>
           <td><table>
                {% for gameTeam in game.teams %}
                    <tr><td>{{ gameTeam.groupSlot }}</td></tr>
                {% endfor %}
            </table></td>
           <td><table>
                {% for gameTeam in game.teams %}
                    <tr><td>{{ gameTeam.name }}</td></tr>
                {% endfor %}
            </table></td>
       </tr>
        {% endfor %}{# games #}
    </tbody>
    </table>
</div>
