{# @CeradTourn/Tourn/UserInfo/TournGuestInfo.html.twig   #}

<div>
    Guest
    <a href="{{ path('cerad_tourn_welcome') }}">Welcome</a>
    <a href="{{ path('cerad_tourn_account_create') }}">Create New Account</a>
    <a href="{{ path('cerad_tourn_account_password_reset_request') }}">Reset Password</a>
    <a href="{{ path('cerad_tourn_account_user_login') }}">Login</a>
    
    <a href="{{ path('cerad_tourn_schedule_official_list') }}">Referee Schedule</a>
    <a href="{{ path('cerad_tourn_results_poolplay')       }}">Pool Play Results</a>
</div>
