{# Only gets called for ROLE_DEVELOPER   #}

{% if is_granted('ROLE_SUPER_ADMIN',project) %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SCHEDULES <span class="caret"></span></a>
          <ul class="dropdown-menu">

      <li>
        <a href="{{ path('cerad_game__project__schedule_game__show', { '_project': _project }) }}">Game Schedule</a>
      </li>
      <li class="last">
        <a href="{{ path('cerad_game__project__schedule_team__show', { '_project': _project }) }}">Team Schedules</a>
      </li>
    </ul>
  </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">RESULTS <span class="caret"></span></a>
          <ul class="dropdown-menu">

      <li>
          <a href="{{ path('cerad_game__project__results_poolplay__show', { '_project': _project }) }}">Pool Play</a>
      </li>
      <li>
          <a href="{{ path('cerad_game__project__results_playoffs__show', { '_project': _project }) }}">Medal Round</a>
      </li>
      <li class="last">
          <a href="{{ path('cerad_game__project__results_sportsmanship__show', { '_project': _project }) }}">Sportsmanship</a>
      </li>
    </ul>
  </li>

  
{% endif %}